<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="kr.saintdev.pdiary">

    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme"
            android:fullBackupContent="false">

        <!-- Main activity init -->
        <activity android:name=".MainActivity"
                android:label="@string/app_name" />

        <!-- Splash Activity Define -->
        <activity android:name=".views.activitys.SplashActivity" android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity android:name=".views.activitys.WriteDiaryActivity"
            android:label="@string/app_name" />

        <activity android:name=".views.activitys.ReadDiaryActivity"
            android:label="@string/app_name" />

        <activity android:name=".views.activitys.FeelSelectActivity"
            android:label="기분을 선택하세요." />

    </application>
</manifest>